[menu footer_menu]
start = "id-10"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/privacy-policy#cookies"
theme = "dark-bottom"

[jumbotron funding-text]
jumbotron = "funding-text"
background = "transperant"
templates = "template2"
description_limit = 0
==
{% component 'cookieConsent' %}
<footer class="site-footer">

</footer>