html,body {
    font-family: @font-family, Sathoshi, sans-serif;
    background-color: @background-color;
    color: @text-color-default;
    height: 100%;
    .font-size();
    .line-height();
    .letter-spacing();
}
