<div class="modal-overlay partners-modal"
     id="partnersModal"
     role="dialog"
     aria-modal="true"
     aria-labelledby="partnersPopupName"
     aria-describedby="partnersPopupContent"
     aria-hidden="true">
    <div class="modal-container partners-modal-container" role="document">
        <!-- Close Button -->
        <button class="modal-close partners-modal-close"
                id="partnersModalClose"
                aria-label="Close modal"
                type="button">
            <img src="{{ 'assets/images/close-icon.svg' | theme }}"
                 alt="Close"
                 class="close-icon"
                 aria-hidden="true" />
        </button>

        <!-- Modal Content - Populated by JavaScript -->
        <div class="modal-content partners-modal-content" id="partnersModalContent">
            <!-- Content will be cloned here from pre-rendered divs -->
        </div>
    </div>
</div>
